h1 {
    font-family: cursive;
    color: rgb(0, 255, 255);
    text-align: center;
    font-size: 50pt;
    animation-name: example;
    animation-duration: 20s;
    animation-direction: alternate;

}
body{
    background-image: url(slikce.jpg);
    height: 100%;
    
    
    font-family: cursive;
    color: rgb(0, 255, 255); 
}
.moe {
    text-align: center;
    font-size: 30pt;
}
.mo1 
{
    font-size: 20pt;
}
fieldset
{
    border-style:dotted ;
    border-color: rgb(0, 255, 255);
    border-width: 0.1cm;
}
input [type=option]
{
   background-color: brown;
}
input[type=text]
{
   background:rgb(0, 255, 255);
}
input[type=submit]
{
    background-image: url(slikce23.jpg);
    font-style: italic;
    }
    @keyframes example
    {
    0% {opacity: 0; left: 50px; top: 0px;}
    25% {opacity: 1; left: 0px; top:5 0px;}
50% {opacity: 0; left: 50px; top: 100px;}
75% {opacity: 1; left: 100px; top: 50px;}
100% {opacity: 0; left: 50px; top: 0px;}
    }